body{
    margin: 0; 
    font-family: 'Montserrat', sans-serif;
}

.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 1px 1px rgba(128, 128, 128, 0.63); 
    position: fixed;
    width: 100vw;
    background-color: white;
}

.menu__logo{
    width: 9%
}

.menu__links li{
    list-style: none;
    display: inline-flex;
    justify-content: space-evenly;
    margin: 7px; 
}

.menu__lupinha{
    margin-left: -55px; 
}

.menu__botao{
    padding: 15px;
    background-color: blueviolet;
    text-transform: uppercase;
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
    color: white;
}

.login{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__login{
    margin-right: 15px; 
}

.conteudo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 25px; 
    
}

.conteudo__frase{
    display: flex;
    justify-content: center;
    font-size:13px; 
}

.conteudo__link{
    margin-left: 17px; 
}

.conteudo__video{
    width:85%; 
}

.conteudo__botao{
    padding: 15px;
    background-color: rgb(163, 0, 63);
    text-transform: uppercase;
    border: none;
    box-shadow: 1px 1px 1px 1px gray;
    color: white;
}
 
}

a {
    text-decoration: none;
}

.conteudo__centro{
    margin: 0 auto; 
    width: 40%;
    margin-top: 150px;  
    padding-left: 50px; 
}

.universidades{
    display: flex;
    justify-content: space-between;
    margin-left: 27px; 
    margin: 0 50px;
}

.universidades h6{
    margin-bottom: 0;
}

.universidades__texto {
    width: 25vw;
    margin: 0 5px;
}

.rodape{
    bottom:0; 
    width: 100vw;
    background-color: rgb(192, 31, 79);
    height: 10%; 
    text-align: center; 
    display: flex;
    justify-content: center; 
    color: white; 
}
 .depoimento{
    margin-left: 0; 
   
 }